html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  margin: 0;
  background: #292323;
  color: white;
  text-align: center;
  width: 100%;
  height: 7vh;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.header-left,
.header-right {
  margin: 0;
}

.header-left h1 {
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  padding: 5px;
}

.header-right ul {
  margin: 0;
  white-space: nowrap;
}

.header-right li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  padding-top: 10px;
}

/* Modified drop-down navbar code from W3Schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar */

button {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

button:hover {
  color: #889e86;
}

.clear-btn {
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgray;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.49);
  z-index: 1;
  min-width: 100px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  float: none;
  color: black;
  text-align: left;
  padding: 5px;
}

.dropdown-content a:hover {
  background-color: #232329;
  color: white;
}

.container {
  background: lightgray;
  width: 100%;
  height: 93vh;
  display: flex;
}

.panel {
  text-align: center;
  flex: 1 1 auto;
  box-sizing: border-box;
  min-width: 150px;
}

.panel-heading {
  background-color: #292323;
  border: 2px lightgray solid;
  color: white;
  height: 5%;
  box-sizing: border-box;
}

.panel-heading::selection {
  background: inherit;
}

#editor {
  background-color: #889e86;
  color: #232329;
}

.editor-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 95%;
  width: 100%;
  background-color: inherit;
  resize: none;
  font-size: 1rem;
}

.editor-text:focus {
  outline: none;
  border: none;
}

#previewer {
  background: white;
  color: #232329;
}

.handler {
  background-color: #292323;
  width: 10px;
  flex: 0 0 auto;
  cursor: col-resize;
}
