body {
  margin: 0;
}

.title {
  margin: 0;
  background: green;
  color: white;
  text-align: center;
  grid-area: header;
}

.container {
  background: lightgray;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.editor {
  background: blue;
  color: white;
  text-align: center;
  flex: 1 1 auto;
}

.previewer {
  background: red;
  color: white;
  text-align: center;
  flex: 1 1 auto;
}

.handler {
  width: 10px;
  flex: 0 0 auto;
  cursor: ew-resize;
}
