/* Default Theme */
:root {
  --header-background-color: #292323;
  --editor-background-color: #889e86;
  --button-hover-color: #889e86;
  --previewer-background-color: white;
  --panel-heading-background-color: #292323;
  --header-text-color: white;
  --editor-text-color: black;
  --border-color: lightgray;
  --dropdown-text-color: black;
  --image-url: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  margin: 0;
  background: var(--header-background-color);
  color: var(--header-text-color);
  text-align: center;
  width: 100%;
  height: 7vh;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.header-left,
.header-right {
  margin: 0;
}

.header-left h1 {
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  padding: 5px;
}

.header-right ul {
  margin: 0;
  white-space: nowrap;
}

.header-right li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  padding-top: 10px;
}

/* Modified drop-down navbar code from W3Schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar */

button {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

button:hover {
  color: var(--button-hover-color);
}

.clear-btn {
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--border-color);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.49);
  z-index: 1;
  min-width: 100px;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  float: none;
  color: var(--dropdown-text-color);
  text-align: left;
  padding: 5px;
}

.dropdown-content a:hover {
  background-color: var(--panel-heading-background-color);
  color: white;
}

.container {
  background-color: var(--border-color);
  width: 100%;
  height: 93vh;
  display: flex;
  background-image: var(--image-url);
  background-size: 100% 100%;
}

.panel {
  text-align: center;
  box-sizing: border-box;
  min-width: 10vw;
}

.panel-heading {
  background-color: var(--panel-heading-background-color);
  border: 2px var(--border-color) solid;
  color: var(--header-text-color);
  height: 5%;
  box-sizing: border-box;
  min-height: 28px;
  padding: 3px;
}

.panel-heading::selection {
  outline: none;
}

#editor {
  flex: 1 0 auto;
  max-width: 85vw;
}

.editor-text {
  background-color: var(--editor-background-color);
  color: var(--editor-text-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 95%;
  width: 100%;
  resize: none;
  font-size: 1rem;
}

.editor-text:focus {
  outline: none;
  border: none;
}

#previewer {
  background: var(--previewer-background-color);
  color: black;
  flex: 1 1 auto;
}

.previewer-output {
  box-sizing: border-box;
  max-height: 95%;
  width: 100%;
  overflow: auto;
  padding: 10px 30px;
  text-align: left;
}

.handler {
  background-color: var(--header-background-color);
  width: 10px;
  flex: 0 0 auto;
  cursor: col-resize;
}
